#{extends 'main.html' /}
#{set title:'Mar Peruano Restaurante' /}



<div class="banner" id="banner-menu">
	<div class="overlay"></div>
	<div class="container">
		<div class="titulo">
			Menú
		</div>
	</div>
</div>

<div class="post1">
	<div class="container">
		<div class="texto1">Algunos de Nuestros</div>
		<div class="texto2">Platos</div>
		<div class="divider"></div>
		<div class="contenido">
			<div id="myCarousel" class="carousel slide" data-ride="carousel">
				<!-- Indicators -->
				<ol class="carousel-indicators">
					<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
					<li data-target="#myCarousel" data-slide-to="1"></li>
					<li data-target="#myCarousel" data-slide-to="3"></li>
					<li data-target="#myCarousel" data-slide-to="4"></li>
					<li data-target="#myCarousel" data-slide-to="5"></li>
					<li data-target="#myCarousel" data-slide-to="6"></li>
					<li data-target="#myCarousel" data-slide-to="7"></li>
				</ol>

				<!-- Wrapper for slides -->
				<div class="carousel-inner" role="listbox">
					<div class="item active">
						<div class="carousel-image" id="carousel-plato-1"></div>
					</div>
					<div class="item">
						<div class="carousel-image" id="carousel-plato-2"></div>
					</div>
					<div class="item">
						<div class="carousel-image" id="carousel-plato-3"></div>
					</div>
					<div class="item">
						<div class="carousel-image" id="carousel-plato-4"></div>
					</div>
					<div class="item">
						<div class="carousel-image" id="carousel-plato-5"></div>
					</div>
					<div class="item">
						<div class="carousel-image" id="carousel-plato-6"></div>
					</div>
					<div class="item">
						<div class="carousel-image" id="carousel-plato-7"></div>
					</div>
				</div>

				<!-- Left and right controls -->
				<a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
					<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
					<span class="sr-only">Previous</span>
				</a>
				<a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
					<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
					<span class="sr-only">Next</span>
				</a>
			</div>
		</div>
	</div>
</div>

<div class="post1">
	<div class="container">
		<div class="texto1">Este es nuestro</div>
		<div class="texto2">Menú</div>
		<div class="divider"></div>
		<div class="contenido">
			<div class="texto-contenido"></div>
			<div class="menu">
				<div class="row">
					<div class="col-sm-6">
						<div class="imagen-seccion-menu" id="platos-frios"></div>
						<div class="titulo-seccion-menu">Platos Fríos</div>
						<div class="item-menu">
							<div class="header">
								<div class="nombre">Tiradito de Corvina (2 Sabores)</div>
								<div class="precio">$33.000</div>
							</div>
							<div class="descripcion">Láminas de corvinas marinadas al limón y bañadas con ajíes amarillos y crema de rocoto.</div>
						</div>
						<div class="item-menu">
							<div class="header">
								<div class="nombre">Tiradito de Pulpo</div>
								<div class="precio">$32.000</div>
							</div>
							<div class="descripcion">Láminas de pulpo marinadas al limón y bañadas con ajíes amarillos y crema de rocoto.</div>
						</div>
						<div class="item-menu">
							<div class="header">
								<div class="nombre">Carpaccio de Pulpo</div>
								<div class="precio">$32.000</div>
							</div>
							<div class="descripcion">Láminas de pulpo marinadas en limón y aceite de oliva.</div>
						</div>
						<div class="item-menu">
							<div class="header">
								<div class="nombre">Causa de pollo y langostinos</div>
								<div class="precio">$35.000</div>
							</div>
							<div class="descripcion">Pure de papa bañada en crema de ajíes amarillos y rellenos de pollo en salsa de mayonesa y langostinos apanados.</div>
						</div>
						<div class="item-menu">
							<div class="header">
								<div class="nombre">Causa de pollo</div>
								<div class="precio">$15.000</div>
							</div>
							<div class="descripcion">Pure de papa bañada en crema de ajíes amarillos y rellenos de pollo en salsa de mayonesa y aguacate.</div>
						</div>
						<div class="item-menu">
							<div class="header">
								<div class="nombre">Papas a la huancaína</div>
								<div class="precio">$12.000</div>
							</div>
							<div class="descripcion">Rodajas de papa cocida bañadas en crema de ajíes amarillos acompañadas de huevo cocido y salsa criolla.</div>
						</div>
						<div class="item-menu">
							<div class="header">
								<div class="nombre">Choros a la chalaca</div>
								<div class="precio">$14.000</div>
							</div>
							<div class="descripcion">Mejillones acevichados en salsa criolla y choclo.</div>
						</div>
						<div class="item-menu">
							<div class="header">
								<div class="nombre">Explosión de mariscos</div>
								<div class="precio">$20.000</div>
							</div>
							<div class="descripcion">Combinación de ceviche con mixturas de mariscos apanados.</div>
						</div>
						<div class="col-divider visible-xs"></div>
					</div>
					<div class="col-sm-6">
						<div class="imagen-seccion-menu" id="ceviches"></div>
						<div class="titulo-seccion-menu">Ceviches</div>
						<div class="item-menu">
							<div class="header">
								<div class="nombre">Ceviche de orgía de mariscos</div>
								<div class="precio">$35.000</div>
							</div>
							<div class="descripcion">Ceviche peruano tradicional con mixtura de mariscos bañados en crema de ajíes peruanos.</div>
						</div>
						<div class="item-menu">
							<div class="header">
								<div class="nombre">Ceviche de Camarón</div>
								<div class="precio">$31.000</div>
							</div>
							<div class="descripcion">Opcionales: Tradicional peruano, o en salsa rosada o en salsa de tomate acompañado de galletas.</div>
						</div>
						<div class="item-menu">
							<div class="header">
								<div class="nombre">Ceviche de langostino</div>
								<div class="precio">$62.000</div>
							</div>
							<div class="descripcion">Opcionales: Tradicional peruano o en salsa rosada o en salsa de tomate acompañado de galletas.</div>
						</div>
						<div class="item-menu">
							<div class="header">
								<div class="nombre">Leche de tigre</div>
								<div class="precio">$16.000</div>
							</div>
							<div class="descripcion">Tradicional concentrado de ceviche de corvina servido como aperitivo.</div>
						</div>
						<div class="item-menu">
							<div class="header">
								<div class="nombre">Ceviche de corvina o mero</div>
								<div class="precio">$32.000</div>
							</div>
							<div class="descripcion">Trozos de corvina marinados al limón acompañados con choclo desmenuzado y tostadas al plátano.</div>
						</div>
						<div class="item-menu">
							<div class="header">
								<div class="nombre">Ceviche de corvina y camarón</div>
								<div class="precio">$33.000</div>
							</div>
							<div class="descripcion">Trozos de corvina y camarón marinados al limón acompañados con choclo desmenuzado y tostadas al plátano.</div>
						</div>
						<div class="item-menu">
							<div class="header">
								<div class="nombre">Ceviche mixto</div>
								<div class="precio">$32.000</div>
							</div>
							<div class="descripcion">Trozos de corvina con mixtura de mariscos marinados al limón acompañados con choclo desmenuzado y tostadas al plátano.</div>
						</div>
						<div class="col-divider visible-xs"></div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-6">
						<div class="imagen-seccion-menu" id="piqueos-calientes"></div>
						<div class="titulo-seccion-menu">Piqueos Calientes</div>
						<div class="item-menu">
							<div class="header">
								<div class="nombre">Corvina en Trozos</div>
								<div class="precio">$29.000</div>
							</div>
							<div class="descripcion">Trozos de corvina apanada acompañada de papas a la francesa o yuca frita.</div>
						</div>
						<div class="item-menu">
							<div class="header">
								<div class="nombre">Camarones Apanados</div>
								<div class="precio">$30.000</div>
							</div>
							<div class="descripcion">Camarones apanados acompañados de papas a la francesa o papa frita.</div>
						</div>
						<div class="item-menu">
							<div class="header">
								<div class="nombre">Jalea Chalaca</div>
								<div class="precio pequeno">Personal $34.000, Mediana $54.000, Familiar $64.000</div>
							</div>
							<div class="descripcion">Trozos de corvina apanada acompañada de papas a la francesa o yuca frita.</div>
						</div>
						<div class="item-menu">
							<div class="header">
								<div class="nombre">Calamares Apanados</div>
								<div class="precio">$20.000</div>
							</div>
							<div class="descripcion">Acompañados de yuca o papa a la francesa.</div>
						</div>
						<div class="col-divider visible-xs"></div>
					</div>
					<div class="col-sm-6">
						<div class="imagen-seccion-menu" id="cremas"></div>
						<div class="titulo-seccion-menu">Cremas</div>
						<div class="item-menu">
							<div class="header">
								<div class="nombre">Ceviche de parihuela</div>
								<div class="precio">$12.000</div>
							</div>
							<div class="descripcion">Concentrado de mariscos con trozos de corvina.</div>
						</div>
						<div class="item-menu">
							<div class="header">
								<div class="nombre">Crema de mariscos</div>
								<div class="precio">$12.000</div>
							</div>
						</div>
						<div class="item-menu">
							<div class="header">
								<div class="nombre">Crema de camarón</div>
								<div class="precio">$15.000</div>
							</div>
						</div>
						<div class="item-menu">
							<div class="header">
								<div class="nombre">Crema de pollo</div>
								<div class="precio">$8.000</div>
							</div>
						</div>
						<div class="col-divider visible-xs"></div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-6">
						<div class="imagen-seccion-menu" id="pescados"></div>
						<div class="titulo-seccion-menu">Pescados</div>
						<div class="item-menu">
							<div class="header">
								<div class="nombre">Pescado a la chorrillana</div>
								<div class="precio">$35.000</div>
							</div>
							<div class="descripcion">Filete de corvina a la plancha con pacas de cebolla y tomate bañada en salsa roja peruana, acompañada de risoto.</div>
						</div>
						<div class="item-menu">
							<div class="header">
								<div class="nombre">Pescado a lo macho</div>
								<div class="precio">$38.000</div>
							</div>
							<div class="descripcion">Filete de corvina a la plancha bañado en salsa de mariscos acompañado de ensalada de la casa y tostadas de plátano.</div>
						</div>
						<div class="item-menu">
							<div class="header">
								<div class="nombre">Pescado a la florentina</div>
								<div class="precio">$38.000</div>
							</div>
							<div class="descripcion">Filete de corvina a la plancha bañado en salsa bechamel con camarones acompañadas de espaguetis con champiñones, albahaca, tomate y perejil.</div>
						</div>
						<div class="item-menu">
							<div class="header">
								<div class="nombre">Pescado a la plancha</div>
								<div class="precio">$33.000</div>
							</div>
							<div class="descripcion">Filete de corvina a la plancha acompañado de ensalada de la casa y tostadas de plátano.</div>
						</div>
						<div class="item-menu">
							<div class="header">
								<div class="nombre">Sudado de pescado a lo pacífico</div>
								<div class="precio">$35.000</div>
							</div>
							<div class="descripcion">Filete de corvina a la plancha bañado en leche de coco acompañado de tostadas de plátano, arroz blanco o ensalada de la casa.</div>
						</div>
						<div class="item-menu">
							<div class="header">
								<div class="nombre">Pescado en bajado de camarón</div>
								<div class="precio">$38.000</div>
							</div>
							<div class="descripcion">Filete de corvina a la plancha bañado en salsa de camarón al ajillo.</div>
						</div>
						<div class="item-menu">
							<div class="header">
								<div class="nombre">Viejo pescador</div>
								<div class="precio">$36.000</div>
							</div>
							<div class="descripcion">Corvina a la plancha bañada en espinaca con champiñones gratinada.</div>
						</div>
						<div class="item-menu">
							<div class="header">
								<div class="nombre">Corvina a la parmesana</div>
								<div class="precio">$36.000</div>
							</div>
							<div class="descripcion">Corvina bañada en salsa bechamel con champiñones gratinada acompañada con ensalada y papas a la francesa.</div>
						</div>
						<div class="item-menu">
							<div class="header">
								<div class="nombre">Corvina tres quesos</div>
								<div class="precio">$36.000</div>
							</div>
							<div class="descripcion">Corvina bañada en salsa blanca con variedad de quesos gratinada acompañada con ensalada y papas a la francesa.</div>
						</div>
						<div class="item-menu">
							<div class="header">
								<div class="nombre">Corvina Oriental</div>
								<div class="precio">$34.000</div>
							</div>
							<div class="descripcion">Corvina en salsa oriental con verduras y champiñones acompañada de arroz y tostadas.</div>
						</div>
						<div class="item-menu">
							<div class="header">
								<div class="nombre">Corvina a la ciprese</div>
								<div class="precio">$35.000</div>
							</div>
							<div class="descripcion">Corvina a la plancha gratinada con queso mozzarella, tomate, albahacam y vinagre balsámico acompañada de papas a la francesa y ensalada.</div>
						</div>
						<div class="item-menu">
							<div class="header">
								<div class="nombre">Salmón a la menier</div>
								<div class="precio">$36.000</div>
							</div>
							<div class="descripcion">Salmón a la plancha bañado en salsa al limón con alcaparras, acompañado con papas a la francesa y ensalada.</div>
						</div>
						<div class="red-text">Pargos Según Tamaño</div>
						<div class="item-menu">
							<div class="header">
								<div class="nombre">Pargo Frito (500gr)</div>
								<div class="precio">$40.000</div>
							</div>
						</div>
						<div class="item-menu">
							<div class="header">
								<div class="nombre">Pargo con mariscos o camarón</div>
								<div class="precio">$45.000</div>
							</div>
						</div>
						<div class="col-divider visible-xs"></div>
					</div>
					<div class="col-sm-6">
						<div class="imagen-seccion-menu" id="salteados"></div>
						<div class="titulo-seccion-menu">Salteados</div>
						<div class="item-menu">
							<div class="header">
								<div class="nombre">Lomo Salteado</div>
								<div class="precio">$27.000</div>
							</div>
							<div class="descripcion">Trozos de lomo viche al wok con cebolla y tomate acompañado de papa a la francesa y arroz.</div>
						</div>
						<div class="item-menu">
							<div class="header">
								<div class="nombre">Pollo Salteado</div>
								<div class="precio">$24.000</div>
							</div>
							<div class="descripcion">Trozos de pollo al wok con cebolla y tomate acompañado de papa a la francesa y arroz.</div>
						</div>
						<div class="item-menu">
							<div class="header">
								<div class="nombre">Mariscos Salteados</div>
								<div class="precio">$32.000</div>
							</div>
							<div class="descripcion">Mariscos al wok con cebolla y tomate acompañado de papa a la francesa y arroz.</div>
						</div>
						<div class="item-menu">
							<div class="header">
								<div class="nombre">Salteado de Camarón en Leche de Coco</div>
								<div class="precio">$36.000</div>
							</div>
							<div class="descripcion">Camarones salteados en leche de coco al estilo oriental acompañados con arroz thai y papa a la francesa.</div>
						</div>
						<div class="item-menu">
							<div class="header">
								<div class="nombre">Salteado de mariscos en leche de coco</div>
								<div class="precio">$36.000</div>
							</div>
							<div class="descripcion">Mariscos salteados en leche de coco al estilo oriental acompañados con arroz thai y papa a la francesa.</div>
						</div>
						<div class="item-menu">
							<div class="header">
								<div class="nombre">Mar y tierra</div>
								<div class="precio">$30.000</div>
							</div>
							<div class="descripcion">Trozos de lomo viche y camarones al wok con cebolla y tomate acompañado de papa a la francesa y arroz.</div>
						</div>
						<div class="item-menu">
							<div class="header">
								<div class="nombre">Corvina salteada</div>
								<div class="precio">$32.000</div>
							</div>
							<div class="descripcion">Trozos de corvina al wok con cebolla y tomate, acompañado de papa a la francesa y arroz.</div>
						</div>
						<div class="titulo-seccion-menu">Platos Especiales</div>
						<div class="item-menu">
							<div class="header">
								<div class="nombre">Lomo al mar peruano</div>
								<div class="precio">$33.000</div>
							</div>
							<div class="descripcion">Lomo viche bañado en salsa de camarón.</div>
						</div>
						<div class="item-menu">
							<div class="header">
								<div class="nombre">Ají de gallina</div>
								<div class="precio">$24.000</div>
							</div>
							<div class="descripcion">Tradicional guiso peruano con pollo deshilachado bañado en crema de ajíes amarillos acompañado de papa a la francesa.</div>
						</div>
						<div class="item-menu">
							<div class="header">
								<div class="nombre">Pollo a la ciprese</div>
								<div class="precio">$25.000</div>
							</div>
							<div class="descripcion">Pechuga de pollo asada y gratinada con queso mozzarella, tomate, albahaca y vinagre balsámico acompañados de papas a la francesa y ensalada.</div>
						</div>
						<div class="item-menu">
							<div class="header">
								<div class="nombre">Parrillada Marina</div>
								<div class="precio">$65.000</div>
							</div>
							<div class="descripcion">Filete de corvina, mariscos y langostinos a la plancha flameados con vino blanco acompañado de arroz y ensalada.</div>
						</div>
						<div class="col-divider visible-xs"></div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-6">
						<div class="imagen-seccion-menu" id="langostinos"></div>
						<div class="titulo-seccion-menu">Langostinos</div>
						<div class="item-menu">
							<div class="header">
								<div class="nombre">Tuzan de langostino</div>
								<div class="precio">$63.000</div>
							</div>
							<div class="descripcion">Langostinos envueltos en corvina bañado en salsa oriental con verduras.</div>
						</div>
						<div class="item-menu">
							<div class="header">
								<div class="nombre">Volcán de langostinos</div>
								<div class="precio">$63.000</div>
							</div>
							<div class="descripcion">Langostinos al wok con salsa de soya, cebolla y tomate, acompañada de risoto.</div>
						</div>
						<div class="item-menu">
							<div class="header">
								<div class="nombre">Salteado de langostinos en leche de coco</div>
								<div class="precio">$63.000</div>
							</div>
							<div class="descripcion">Langostinos salteados con leche de coco al estilo oriental acompañado con arroz thai y papa a la francesa.</div>
						</div>
						<div class="item-menu">
							<div class="header">
								<div class="nombre">Langostinos Apanados</div>
								<div class="precio">$63.000</div>
							</div>
							<div class="descripcion">Acompañados de ensalada y papa la francesa.</div>
						</div>
						<div class="item-menu">
							<div class="header">
								<div class="nombre">Langostinos al Ajillo</div>
								<div class="precio">$63.000</div>
							</div>
							<div class="descripcion">Acompañados de lechuga, tomate, aguacate y papa a la francesa.</div>
						</div>
						<div class="item-menu">
							<div class="header">
								<div class="nombre">Langostinos a la chorrillana</div>
								<div class="precio">$63.000</div>
							</div>
							<div class="descripcion">Langostinos flameados en vino blanco y brandy acompañado de ensalada y papa a la francesa.</div>
						</div>
						<div class="item-menu">
							<div class="header">
								<div class="nombre">Langostinos reventados al brandy</div>
								<div class="precio">$63.000</div>
							</div>
							<div class="descripcion">Langostinos flameados en vino blanco y brandy acompañado de ensalada y papa a la francesa.</div>
						</div>
						<div class="item-menu">
							<div class="header">
								<div class="nombre">Arroz chaufa de langostino</div>
								<div class="precio">$63.000</div>
							</div>
							<div class="descripcion">Arroz chino peruano al wok en aceite de ajonjolí, salsa de soya y verduras.</div>
						</div>
						<div class="item-menu">
							<div class="header">
								<div class="nombre">Arroz con langostinos</div>
								<div class="precio">$63.000</div>
							</div>
							<div class="descripcion">Acompañado con tostadas.</div>
						</div>
						<div class="item-menu">
							<div class="header">
								<div class="nombre">Cazuela de langostinos</div>
								<div class="precio">$63.000</div>
							</div>
							<div class="descripcion">Tradicional cazuela colombiana, acompañada de arroz y tostadas.</div>
						</div>
						<div class="item-menu">
							<div class="header">
								<div class="nombre">Chupe de langostinos</div>
								<div class="precio">$63.000</div>
							</div>
							<div class="descripcion">Cazuela peruana a base de concentrado de camarón con maíz, arroz, queso, arbeja, aromatizado con huacatay, acompañado de tostadas.</div>
						</div>
						<div class="col-divider visible-xs"></div>
					</div>
					<div class="col-sm-6">
						<div class="imagen-seccion-menu" id="combinaciones"></div>
						<div class="titulo-seccion-menu">Combinaciones Mp</div>
						<div class="item-menu">
							<div class="header">
								<div class="nombre">Combinación Mar Peruano</div>
								<div class="precio">$35.000</div>
							</div>
							<div class="descripcion">Ceviche mixto y jalea de mariscos.</div>
						</div>
						<div class="item-menu">
							<div class="header">
								<div class="nombre">Chaufa de mariscos y jalea de mariscos</div>
								<div class="precio">$35.000</div>
							</div>
							<div class="descripcion">Láminas de corvinas marinadas al limón y bañadas con ajíes amarillos y crema de rocoto.</div>
						</div>
						<div class="item-menu">
							<div class="header">
								<div class="nombre">Causa de camarón y ceviche de corvina</div>
								<div class="precio">$35.000</div>
							</div>
						</div>
						<div class="item-menu">
							<div class="header">
								<div class="nombre">Chaufa de vegetales y mariscos salteados al estilo oriental con pasta</div>
								<div class="precio">$35.000</div>
							</div>
						</div>
						<div class="item-menu">
							<div class="header">
								<div class="nombre">Tallarines a la huancaína con lomo salteado</div>
								<div class="precio">$29.000</div>
							</div>
							<div class="descripcion">Tallarines bañ4ados en crema a la huacaína con trozos de lomo viche al wok.</div>
						</div>
						<div class="item-menu">
							<div class="header">
								<div class="nombre">Arroz con marisco y jalea</div>
								<div class="precio">$35.000</div>
							</div>
							<div class="descripcion">Arroz con mariscos y mixtura de mariscos apanados.</div>
						</div>
						<div class="item-menu">
							<div class="header">
								<div class="nombre">Causa camaron y carpaccio de pulpo</div>
								<div class="precio">$35.000</div>
							</div>
							<div class="descripcion">Puré de papa al estilo peruano con camarón y laminas de pulpo marinadas al limón y aceite de oliva.</div>
						</div>
						<div class="titulo-seccion-menu">Cazuelas</div>
						<div class="item-menu">
							<div class="header">
								<div class="nombre">Parihuela a la chalaca<span> *</span></div>
								<div class="precio">$45.000</div>
							</div>
							<div class="descripcion">Cazuela peruana afrodisiaca con mixturas de mariscos, pescado y langostinos acompañada de arroz y tostadas.</div>
						</div>
						<div class="item-menu">
							<div class="header">
								<div class="nombre">Chupe de camarón<span> *</span></div>
								<div class="precio">$34.000</div>
							</div>
							<div class="descripcion">Cazuela típica peruana a base del concentrado de camarón con maíz, arroz, queso arbeja, aromatizado con huacatay.</div>
						</div>
						<div class="item-menu">
							<div class="header">
								<div class="nombre">Chupe de mariscos<span> *</span></div>
								<div class="precio">$34.000</div>
							</div>
							<div class="descripcion">Cazuela típica peruana a base del concentrado de mariscos con maíz, arroz, queso arbeja, aromatizado con huacatay.</div>
						</div>
						<div class="item-menu">
							<div class="header">
								<div class="nombre">Cazuela de camarón<span> *</span></div>
								<div class="precio">$34.000</div>
							</div>
							<div class="descripcion">Acompañantes opcionales arroz blanco, tostadas de plátano o ensalada de la casa.</div>
						</div>
						<div class="item-menu">
							<div class="header">
								<div class="nombre">Cazuela de mariscos<span> *</span></div>
								<div class="precio">$34.000</div>
							</div>
							<div class="descripcion">Acompañantes opcionales arroz blanco, tostadas de plátano o ensalada de la casa.</div>
						</div>
						<div class="red-text">* Todos acompañados de patacones</div>
						<div class="col-divider visible-xs"></div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-6">
						<div class="imagen-seccion-menu" id="arroces"></div>
						<div class="titulo-seccion-menu">Arroces</div>
						<div class="item-menu">
							<div class="header">
								<div class="nombre">Arroz a la norteña <span>*</span></div>
								<div class="precio">$33.000</div>
							</div>
							<div class="descripcion">Arroz verde típico peruano con mariscos o camarones.</div>
						</div>
						<div class="item-menu">
							<div class="header">
								<div class="nombre">Arroz con camarones o mariscos <span>*</span></div>
								<div class="precio">$33.000</div>
							</div>
						</div>
						<div class="item-menu">
							<div class="header">
								<div class="nombre">Arroz chaufa mixto <span>*</span></div>
								<div class="precio">$29.000</div>
							</div>
							<div class="descripcion">Arroz chino peruano con camarones, pollo y trozos de cerdo asado al wok en aceite de ajonjolí, salsa de soya y verduras orientales.</div>
						</div>
						<div class="item-menu">
							<div class="header">
								<div class="nombre">Arroz chaufa de camarón <span>*</span></div>
								<div class="precio">$33.000</div>
							</div>
							<div class="descripcion">Láminas de corvinas marinadas al limón y bañadas con ajíes amarillos y crema de rocoto.</div>
						</div>
						<div class="item-menu">
							<div class="header">
								<div class="nombre">Arroz chaufa de mariscos <span>*</span></div>
								<div class="precio">$33.000</div>
							</div>
							<div class="descripcion">Láminas de corvinas marinadas al limón y bañadas con ajíes amarillos y crema de rocoto.</div>
						</div>
						<div class="red-text">Todos acompañados de patacones</div>
						<div class="item-menu">
							<div class="header">
								<div class="nombre">Volcán de marisco</div>
								<div class="precio">$40.000</div>
							</div>
							<div class="descripcion">Mariscos al wok con salsa de soya, cebolla y tomate acompañado de risoto.</div>
						</div>
						<div class="item-menu">
							<div class="header">
								<div class="nombre">Volcán de camarón</div>
								<div class="precio">$40.000</div>
							</div>
							<div class="descripcion">camarones al wok con salsa de soya, cebolla y tomate acompañado de risoto.</div>
						</div>
						<div class="col-divider visible-xs"></div>
					</div>
					<div class="col-sm-6">
						<div class="imagen-seccion-menu" id="postres"></div>
						<div class="titulo-seccion-menu">postres</div>
						<div class="item-menu">
							<div class="header">
								<div class="nombre">Genovesa de chocolate</div>
								<div class="precio">$8.000</div>
							</div>
						</div>
						<div class="item-menu">
							<div class="header">
								<div class="nombre">Flan de coco</div>
								<div class="precio">$8.000</div>
							</div>
						</div>
						<div class="item-menu">
							<div class="header">
								<div class="nombre">Flan de maracuyá</div>
								<div class="precio">$8.000</div>
							</div>
						</div>
						<div class="item-menu">
							<div class="header">
								<div class="nombre">Flan de arequipe</div>
								<div class="precio">$8.000</div>
							</div>
						</div>
						<div class="titulo-seccion-menu">Guarniciones</div>
						<div class="item-menu">
							<div class="header">
								<div class="nombre">Porción de arroz blanco</div>
								<div class="precio">$2.000</div>
							</div>
						</div>
						<div class="item-menu">
							<div class="header">
								<div class="nombre">Porción de papas a la francesa</div>
								<div class="precio">$4.000</div>
							</div>
						</div>
						<div class="item-menu">
							<div class="header">
								<div class="nombre">Porción de yuca frita</div>
								<div class="precio">$4.000</div>
							</div>
						</div>
						<div class="item-menu">
							<div class="header">
								<div class="nombre">Porción de ensalada de la casa</div>
								<div class="precio">$5.000</div>
							</div>
						</div>
						<div class="col-divider visible-xs"></div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-6">
						<div class="imagen-seccion-menu" id="bebidas"></div>
						<div class="titulo-seccion-menu">bebidas</div>
						<div class="item-menu">
							<div class="header">
								<div class="nombre">Jugos naturales en agua</div>
								<div class="precio">$5.000</div>
							</div>
						</div>
						<div class="item-menu">
							<div class="header">
								<div class="nombre">Jugos naturales en leche</div>
								<div class="precio">$6.000</div>
							</div>
						</div>
						<div class="item-menu">
							<div class="header">
								<div class="nombre">Jarra de jugo natural en agua</div>
								<div class="precio">$20.000</div>
							</div>
							<div class="descripcion">Mango - Lulo - Maracuyá - Fresa - Guanábana</div>
						</div>
						<div class="item-menu">
							<div class="header">
								<div class="nombre">Jarra de jugo natural en leche</div>
								<div class="precio">$24.000</div>
							</div>
							<div class="descripcion">Mango - Lulo - Maracuyá - Fresa - Guanábana</div>
						</div>
						<div class="item-menu">
							<div class="header">
								<div class="nombre">Jugos fusión perú</div>
								<div class="precio">$10.000</div>
							</div>
							<div class="descripcion">Batido de frutas tropicales</div>
						</div>
						<div class="item-menu">
							<div class="header">
								<div class="nombre">Chicha morada</div>
								<div class="precio">Vaso $6.000, Jarra $24.000</div>
							</div>
						</div>
						<div class="item-menu">
							<div class="header">
								<div class="nombre">Limonada</div>
								<div class="precio">Vaso $3.500, Jarra $15.000</div>
							</div>
						</div>
						<div class="item-menu">
							<div class="header">
								<div class="nombre">Limonada cerezada</div>
								<div class="precio">$6.000</div>
							</div>
						</div>
						<div class="item-menu">
							<div class="header">
								<div class="nombre">Limonada de coco</div>
								<div class="precio">$8.000</div>
							</div>
						</div>
						<div class="item-menu">
							<div class="header">
								<div class="nombre">Gaseosa Nacional</div>
								<div class="precio">$4.000</div>
							</div>
						</div>
						<div class="item-menu">
							<div class="header">
								<div class="nombre">Inkacola (Gaseosa Peruana)</div>
								<div class="precio">Vaso $10.000</div>
							</div>
						</div>
						<div class="col-divider visible-xs"></div>
					</div>
					<div class="col-sm-6">
						<div class="imagen-seccion-menu" id="cervezas"></div>
						<div class="titulo-seccion-menu">cervezas</div>
						<div class="item-menu">
							<div class="header">
								<div class="nombre">Cervezas importadas</div>
								<div class="precio">$10.000</div>
							</div>
							<div class="descripcion">Cusqueña dorada<br>cristal - corona</div>
						</div>
						<div class="item-menu">
							<div class="header">
								<div class="nombre">Cervezas nacionales</div>
								<div class="precio">$5.000</div>
							</div>
							<div class="descripcion">Aguila Light - Poker<br>Club Colombia</div>
						</div>
						<div class="titulo-seccion-menu">Piscos</div>
						<div class="item-menu">
							<div class="header">
								<div class="nombre">Pisco Sour</div>
								<div class="precio">$15.000</div>
							</div>
						</div>
						<div class="item-menu">
							<div class="header">
								<div class="nombre">Pisco de Coco</div>
								<div class="precio">$18.000</div>
							</div>
						</div>
						<div class="item-menu">
							<div class="header">
								<div class="nombre">Pisco de Maracuyá - Lulo - Chicha Morada</div>
								<div class="precio">$16.000</div>
							</div>
						</div>
						<div class="titulo-seccion-menu">Sangría Peruana</div>
						<div class="item-menu">
							<div class="header">
								<div class="nombre">Jarra: $50.000 | 1/2 Jarra: $27.000 | Vaso: $13.000</div>
							</div>
						</div>
						<div class="titulo-seccion-menu">Vinos</div>
						<div class="item-menu">
							<div class="header">
								<div class="nombre">Tintos</div>
								<div class="precio">Botella $64.000, 1/2 Botella $32.000</div>
							</div>
							<div class="descripcion">Casillero del diablo, cousiño - Macul, Torentino</div>
						</div>
						<div class="item-menu">
							<div class="header">
								<div class="nombre">Blancos</div>
								<div class="precio">Botella $64.000, 1/2 Botella $32.000</div>
							</div>
							<div class="descripcion">Casillero del diablo, cousiño - Macul, Santa rita 120</div>
						</div>
						<div class="item-menu">
							<div class="header">
								<div class="nombre">Rosados</div>
								<div class="precio">Botella $64.000, 1/2 Botella $32.000</div>
							</div>
							<div class="descripcion">Vino frontera</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>