#{extends 'main.html' /}
#{set title:'Mar Peruano Restaurante' /}

<div class="banner" id="banner-acerca">
	<div class="overlay"></div>
	<div class="container">
		<div class="titulo">
			Acerca
		</div>
		<div class="leyenda">
			Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
		</div>
	</div>
</div>

<div class="post1">
	<div class="container">
		<div class="texto1">Nuestra Historia</div>
		<div class="texto2">Desde 1990</div>
		<div class="divider"></div>
		<div class="contenido">
			<div class="texto-contenido no-margin">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
			</div>
		</div>
	</div>
</div>

<div class="banner2" id="banner-2-acerca"></div>

<div class="post1">
	<div class="container">
		<div class="texto1">Lo que nos</div>
		<div class="texto2">Hace Diferentes</div>
		<div class="divider"></div>
		<div class="contenido">
			<div class="texto-contenido">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
			</div>
			<div class="row">
				<div class="col-sm-6 hidden-xs">
					<div class="textbox tb-left tb-top">
						<div class="head">
							<div class="numero uno"></div>
							<div class="titulo t1">Lorem ipsum dolor sit amet</div>
						</div>
						<div class="content c1">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
					</div>
					<div class="textbox tb-left">
						<div class="head">
							<div class="numero tres"></div>
							<div class="titulo t1">Lorem ipsum dolor sit amet</div>
						</div>
						<div class="content c1">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="textbox tb-left tb-top visible-xs">
						<div class="head">
							<div class="numero uno"></div>
							<div class="titulo t1">Lorem ipsum dolor sit amet</div>
						</div>
						<div class="content c1">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
					</div>
					<div class="emptybox hidden-xs"></div>
					<div class="textbox tb-right tb-top">
						<div class="head">
							<div class="numero dos"></div>
							<div class="titulo t2">Lorem ipsum dolor sit amet</div>
						</div>
						<div class="content c2">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
					</div>
					<div class="textbox tb-left tb-top visible-xs">
						<div class="head">
							<div class="numero tres"></div>
							<div class="titulo t1">Lorem ipsum dolor sit amet</div>
						</div>
						<div class="content c1">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
					</div>
					<div class="textbox tb-right">
						<div class="head">
							<div class="numero cuatro"></div>
							<div class="titulo t2">Lorem ipsum dolor sit amet</div>
						</div>
						<div class="content c2">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>